AlarmEventService/Connected Services/EventServiceRef/EventServiceOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventServiceOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55517/EventServiceOperations.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55517/EventServiceOperations.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55517/EventServiceOperations.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/ScadaCommon.Database" />
      <xsd:import schemaLocation="http://localhost:55517/EventServiceOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaCommon" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventServiceOperations_AddEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="IEventServiceOperations_AddEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventServiceOperations_GetAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="IEventServiceOperations_GetAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventServiceOperations">
    <wsdl:operation name="AddEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventServiceOperations/AddEvent" message="tns:IEventServiceOperations_AddEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventServiceOperations/AddEventResponse" message="tns:IEventServiceOperations_AddEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventServiceOperations/GetAllEvents" message="tns:IEventServiceOperations_GetAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventServiceOperations/GetAllEventsResponse" message="tns:IEventServiceOperations_GetAllEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventServiceOperations" type="tns:IEventServiceOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tempuri.org/IEventServiceOperations/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tempuri.org/IEventServiceOperations/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventServiceOperations">
    <wsdl:port name="BasicHttpBinding_IEventServiceOperations" binding="tns:BasicHttpBinding_IEventServiceOperations">
      <soap:address location="http://localhost:55517/EventServiceOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>