AlarmEventService/Connected Services/AlarmServiceRef/AlarmServiceOperations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaCommon.Database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaCommon.Database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55517/AlarmServiceOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaCommon" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmAcknowledged" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AlarmReported" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScadaCommon" minOccurs="0" name="AlarmReportedBy" type="q1:AlarmEventType" />
      <xs:element minOccurs="0" name="GiD" type="xs:long" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:complexType name="ArrayOfAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarm" nillable="true" type="tns:Alarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarm" nillable="true" type="tns:ArrayOfAlarm" />
</xs:schema>