AlarmEventService/Connected Services/AlarmServiceRef/AlarmServiceOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlarmServiceOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55517/AlarmServiceOperations.svc?xsd=xsd3" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55517/AlarmServiceOperations.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55517/AlarmServiceOperations.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Common.AlarmEvent" />
      <xsd:import schemaLocation="http://localhost:55517/AlarmServiceOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlarmServiceOperations_AddAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmServiceOperations_AddAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmServiceOperations_DeleteAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmServiceOperations_DeleteAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmServiceOperations_AcknowledgeAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgeAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmServiceOperations_AcknowledgeAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgeAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmServiceOperations_GetAllAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlarms" />
  </wsdl:message>
  <wsdl:message name="IAlarmServiceOperations_GetAllAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlarmsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlarmServiceOperations">
    <wsdl:operation name="AddAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmServiceOperations/AddAlarm" message="tns:IAlarmServiceOperations_AddAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmServiceOperations/AddAlarmResponse" message="tns:IAlarmServiceOperations_AddAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmServiceOperations/DeleteAlarm" message="tns:IAlarmServiceOperations_DeleteAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmServiceOperations/DeleteAlarmResponse" message="tns:IAlarmServiceOperations_DeleteAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmServiceOperations/AcknowledgeAlarm" message="tns:IAlarmServiceOperations_AcknowledgeAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmServiceOperations/AcknowledgeAlarmResponse" message="tns:IAlarmServiceOperations_AcknowledgeAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmServiceOperations/GetAllAlarms" message="tns:IAlarmServiceOperations_GetAllAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmServiceOperations/GetAllAlarmsResponse" message="tns:IAlarmServiceOperations_GetAllAlarms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlarmServiceOperations" type="tns:IAlarmServiceOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmServiceOperations/AddAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmServiceOperations/DeleteAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmServiceOperations/AcknowledgeAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAlarms">
      <soap:operation soapAction="http://tempuri.org/IAlarmServiceOperations/GetAllAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmServiceOperations">
    <wsdl:port name="BasicHttpBinding_IAlarmServiceOperations" binding="tns:BasicHttpBinding_IAlarmServiceOperations">
      <soap:address location="http://localhost:55517/AlarmServiceOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>